@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --primary: rgb(33, 27, 23);
  --secondary: rgb(229, 125, 144);
  --soft-white: rgb(245, 245, 245);
  --soft-pink: #f2ced8;
}

body {
  background-size: cover;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
